.root {
	-sudoku-color-parchment: #e5e2ca;
	-sudoku-color-pebble: #e0e0e0;
	-sudoku-color-bark: #2a2922;
	-sudoku-color-stone-blue: #336b87;
	-sudoku-color-autumn-foliage: #e7472e;
	-sudoku-color-leaves: #506d2f;
	-sudoku-color-rocky-brown: #785a46;

	-fx-font-family: "Quicksand";
	-fx-font-size: 12pt;
	-fx-font-weight: bold;
	-fx-font-color: -sudoku-color-bark;
	-fx-box-border: transparent;
	-fx-color: -sudoku-color-parchment;
	-fx-background-color: -sudoku-color-parchment;
	-fx-control-inner-background: -sudoku-color-pebble;
	-fx-outer-border: -sudoku-color-bark;
	-fx-inner-border: -sudoku-color-bark;
	-fx-inner-border-horizontal: transparent;
	-fx-body-color: -sudoku-color-parchment;
	-fx-body-color-bottomup: transparent;
	-fx-mark-color: -sudoku-color-stone-blue;
	-fx-mark-highlight-color: -sudoku-color-stone-blue;
	-fx-accent: -sudoku-color-stone-blue;
	-fx-focus-color: -sudoku-color-stone-blue;
	-fx-cell-focus-inner-border: -sudoku-color-stone-blue;
}

.sudoku-main-app-view {
	-fx-background-color: linear-gradient(to bottom, -sudoku-color-pebble, -sudoku-color-pebble, -sudoku-color-parchment);
}

.sudoku-transparent-pane {
	-fx-background-color: transparent;
}

.sudoku-side-bar {
	-fx-background-color: transparent;
}

.sudoku-cell-candidate-label {
	-fx-font-size: 11pt;
}
.sudoku-puzzle-cell {
	-fx-background-color: #eeeeee;
	-fx-text-fill: -sudoku-color-bark;
	-fx-border-color: -sudoku-color-bark;
	-fx-border-width: 1;
}

.sudoku-unfixed-cell {
	-fx-border-color: -sudoku-color-bark;
	-fx-background-color: #eeeeee;
	-fx-text-background-color: -sudoku-color-bark;
}

.sudoku-given-cell {
	-fx-border-color: -sudoku-color-bark;
	-fx-background-color: #eeeeee;
	-fx-font-size: 30pt;
	-fx-text-background-color: -sudoku-color-bark;
}

.sudoku-fixed-cell {
	-fx-border-color: -sudoku-color-bark;
	-fx-background-color: #eeeeee;
	-fx-text-background-color: -sudoku-color-stone-blue;
	-fx-font-size: 30pt;
}

.sudoku-selected-cell {
	/** For some reason, the effect is more noticeable / pleasant as a border than the background color. */
	-fx-border-color: -sudoku-color-bark;
	-fx-border-width: 3;
	-fx-background-color: rgba(0, 0, 0, .1);
}

.sudoku-active-filter-cell {
	-fx-border-color: -sudoku-color-bark;
	-fx-background-color: -sudoku-color-parchment;
}

/* These define colors used for the cell / candidate coloring. */
.sudoku-puzzle-red-entity {
	-fx-background-color: #f05c79;
}

.sudoku-puzzle-alt-red-entity {
	-fx-background-color: #f8b9c6;
}

.sudoku-puzzle-blue-entity {
	-fx-background-color: #4da6ff;
}

.sudoku-puzzle-alt-blue-entity {
	-fx-background-color: #b3d9ff;
}

.sudoku-puzzle-purple-entity {
	-fx-background-color: #a385e0;
}

.sudoku-puzzle-alt-purple-entity {
	-fx-background-color: #d1c2f0;
}

.sudoku-puzzle-green-entity {
	-fx-background-color: #79d2a0;
}

.sudoku-puzzle-alt-green-entity {
	-fx-background-color: #c6ecd6;
}

.sudoku-puzzle-orange-entity {
	-fx-background-color: #ffc14d;
}

.sudoku-puzzle-alt-orange-entity {
	-fx-background-color: #ffe4b3;
}

/* These are used to set extra borders on the cells that are on the edges of blocks. 
	It would be nice to be able to re-use them, but I can't figure out how to override only
	one of the border sizes, and inherit the rest. */
.sudoku-puzzle-cell-extra-top-border {
	-fx-border-width: 2 1 1 1;
}

.sudoku-puzzle-cell-extra-right-border {
	-fx-border-width: 1 2 1 1;
}

.sudoku-puzzle-cell-extra-bottom-border {
	-fx-border-width: 1 1 2 1;
}

.sudoku-puzzle-cell-extra-left-border {
	-fx-border-width: 1 1 1 2;
}

.sudoku-puzzle-cell-extra-top-right-border {
	-fx-border-width: 2 2 1 1;
}

.sudoku-puzzle-cell-extra-top-left-border {
	-fx-border-width: 2 1 1 2;
}

.sudoku-puzzle-cell-extra-bottom-right-border {
	-fx-border-width: 1 2 2 1;
}

.sudoku-puzzle-cell-extra-bottom-left-border {
	-fx-border-width: 1 1 2 2;
}

.button {
	-fx-text-fill: -sudoku-color-bark;
	-fx-font-size: 14pt;
	-fx-border-color: -sudoku-color-bark;
	-fx-border-width: 3;
	-fx-background-radius: 5;
	-fx-border-radius: 5;
}

/** Used for when a button is pressed and needs to retain a state. This must be after .button to override it. */
.sudoku-button-selected {
	-fx-background-color: -sudoku-color-stone-blue;
	-fx-text-fill: -sudoku-color-parchment;
}

.sudoku-button-unselected {
	-fx-background-color: -sudoku-color-parchment;
	-fx-text-fill: -sudoku-color-bark;
}

.button:armed {
	-fx-background-color: -sudoku-color-stone-blue;
}

/* Application system menu buttons (in the top corners of the screen). This must be after .button to override those configurations. */
.sudoku-system-menu-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width : 0;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-border-width: 0;
}

/* Application system menu buttons (in the top corners of the screen). This must be after .button to override those configurations. */
.sudoku-system-menu-button:hover {
	-fx-background-color: linear-gradient(to bottom, derive(-sudoku-color-pebble,-30%), derive(-sudoku-color-parchment,-30%));
}

.menu-bar {
	-fx-background-color: transparent;
	-fx-font-size: 14pt;
}

.text-area {
	-fx-background-color: -sudoku-color-parchment;
	-fx-border-color: -sudoku-color-bark;
	-fx-background-radius: 3;
	-fx-border-width: 3;
	-fx-prompt-text-fill: -sudoku-color-parchment;
}

/* Defines the rectangle responsible for the shadow. */
.decoration-shadow{
    -fx-fill: linear-gradient(to bottom, -sudoku-color-pebble, -sudoku-color-parchment);
    /*radial-gradient(focus-angle 45deg, focus-distance 20%, center 25% 25%, radius 50%, reflect, #eeeeee88, #aaaaaa88 75%, gray);*/
	-fx-stroke-width: 0;
	-fx-arc-width:20px;
	-fx-arc-height:20px;
}