.root {
	/* TODO - review the parchment + pebble colors, is there a better base to use? */
	-sudoku-color-parchment: #e5e2ca;
	-sudoku-color-pebble: #e0e0e0;
	-sudoku-color-bark: #2a2922;
	-sudoku-color-stone-blue: #336b87;
	-sudoku-color-autumn-foliage: #e7472e;
	-sudoku-color-leaves: #506d2f;
	-sudoku-color-rocky-brown: #785a46;

	-fx-font-family: "Quicksand";
	-fx-font-size: 12pt;
	-fx-font-weight: bold;
	-fx-font-color: -sudoku-color-bark;
	-fx-box-border: -sudoku-color-parchment;
	-fx-color: -sudoku-color-parchment;
	-fx-background-color: -sudoku-color-parchment;
	-fx-control-inner-background: -sudoku-color-pebble;
	-fx-outer-border: -sudoku-color-bark;
	-fx-inner-border: -sudoku-color-bark;
	-fx-inner-border-horizontal: -sudoku-color-parchment;
	-fx-inner-border-bottomup: -sudoku-color-parchment;
	-fx-body-color: -sudoku-color-parchment;
	-fx-body-color-bottomup: -sudoku-color-parchment;
	-fx-mark-color: -sudoku-color-stone-blue;
	-fx-mark-highlight-color: -sudoku-color-stone-blue;
	-fx-tab-border-color: -sudoku-color-bark;
	-fx-accent: -sudoku-color-stone-blue;
	-fx-focus-color: -sudoku-color-stone-blue;
	-fx-cell-focus-inner-border: -sudoku-color-stone-blue;
}

.sudoku-main-app-view {
	-fx-background-color: linear-gradient(to bottom, -sudoku-color-pebble, -sudoku-color-pebble, -sudoku-color-parchment);
}

.sudoku-transparent-pane {
	-fx-background-color: transparent;
	-fx-border-color: -sudoku-color-bark;
	-fx-border-width: 3;
	-fx-border-radius: 3;
}

.sudoku-side-bar {
	-fx-background-color: transparent;
}

.sudoku-top-level-tab-pane {
	-fx-border-color: -sudoku-color-bark;
	-fx-border-width: 3;
}

.sudoku-labeled-text-field>.text-field {
	-fx-border-color: -sudoku-color-bark;
	-fx-border-width: 2;
	-fx-background-radius: 3;
	-fx-border-radius: 3;
	-fx-padding: 0.1666667em; /* 2 */
}

.button {
	-fx-text-fill: -sudoku-color-bark;
	-fx-font-size: 14pt;
	-fx-border-color: -sudoku-color-bark;
	-fx-border-width: 3;
	-fx-background-radius: 5;
	-fx-border-radius: 5;
}

/** Used for when a button is pressed and needs to retain a state. This must be after .button to override it. */
.sudoku-button-selected {
	-fx-background-color: -sudoku-color-stone-blue;
	-fx-text-fill: -sudoku-color-parchment;
}

.sudoku-button-unselected {
	-fx-background-color: -sudoku-color-parchment;
	-fx-text-fill: -sudoku-color-bark;
}

.button:armed {
	-fx-background-color: -sudoku-color-stone-blue;
}

/* Application system menu buttons (in the top corners of the screen). This must be after .button to override those configurations. */
.sudoku-system-menu-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width : 0;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-border-width: 0;
}

/* Application system menu buttons (in the top corners of the screen). This must be after .button to override those configurations. */
.sudoku-system-menu-button:hover {
	-fx-background-color: linear-gradient(to bottom, derive(-sudoku-color-pebble,-30%), derive(-sudoku-color-parchment,-30%));
}

.menu-bar {
	-fx-background-color: transparent;
	-fx-font-size: 14pt;
}

.text-area {
	-fx-background-color: -sudoku-color-parchment;
	-fx-border-color: -sudoku-color-bark;
	-fx-background-radius: 3;
	-fx-border-width: 3;
	-fx-prompt-text-fill: -sudoku-color-parchment;
}

/* Defines the rectangle responsible for the shadow. */
.decoration-shadow{
    -fx-fill: linear-gradient(to bottom, -sudoku-color-pebble, -sudoku-color-parchment);
    /*radial-gradient(focus-angle 45deg, focus-distance 20%, center 25% 25%, radius 50%, reflect, #eeeeee88, #aaaaaa88 75%, gray);*/
	-fx-stroke-width: 0;
	-fx-arc-width:20px;
	-fx-arc-height:20px;
}